:root {
  --clr-bcg: rgb(26, 8, 8);
  --clr-font: #282c35;
  --clr-primary: #d23669;
}

.dark-theme {
  --clr-bg: #001233;
  --clr-font: #979dac;
  --clr-primary: #e7ecef;
  --clr-card-bg: #002855;
  --clr-card-txt: #fff;
  --clr-btn: #001233;
  --clr-btn-text: #ffffff;
}
.light-theme {
  --clr-bg: #e7ecef;
  --clr-font: #e7ecef;
  --clr-primary: #e7ecef;
  --clr-card-bg: #a3cef1;
  --clr-card-txt: #274c77;
  --clr-btn: #274c77;
  --clr-btn-text: #ffffff;
}
body {
  background-color: var(--clr-btn);
}
/* container */
div.container-fluid {
  color: var(--clr-bcg);
  background-color: var(--clr-btn);
}

/* navbar */
nav {
  background-color: var(--clr-btn);
  color: var(--clr-font);
}
.navbar-brand {
  color: var(--clr-font);
  font-size: 2rem;
  margin: 0 1%;
  font-family: cursive;
}

.theme-btn {
  color: var(--clr-font);
  font-size: 1.3rem;
  margin: 0 1%;
  font-family: cursive;
}

/* search coponent */
.input-clr {
  color: #274c77;
}
.card {
  color: var(--clr-card-txt);
  background-color: var(--clr-card-bg);
  border-radius: 1.25rem;
}

.search {
  margin: 5% 7%;
  text-align: center;
}

.card .card-body {
  color: var(--clr-card-txt);
}

/* tracks */

/* track */
.card .card-title .card-text {
  color: var(--clr-primary);
  background-color: var(--clr-bg);
}

/* buttons */
.btn {
  color: var(--clr-btn-text);
  background-color: var(--clr-btn);
}

/* lyrics */
.lyrics-card {
  margin: 0 5%;
  padding: 1% 1%;
}

.card-title {
  display: flex;
}

#song-lyrics {
  font-family: system-ui;
}

.feedback-card {
  /* shadow-none p-2 mt-5 mx-auto w-50 center */
  margin: 2% 10% 0;
  padding: 1%;
}

.back-btn {
  margin: 1% 5% 1%;
}
