:root {
  --clr-bcg: rgb(26, 8, 8);
  --clr-font: #282c35;
  --clr-primary: #d23669;
}

.dark-theme {
  --clr-bg: #001233;
  --clr-font: #979DAC;
  --clr-primary: #E7ECEF;
  --clr-card-bg: #002855;
  --clr-card-txt: #ffffff;
  --clr-btn: #001233;
  --clr-btn-text: #ffffff;
}
.light-theme {
  --clr-bg: #E7ECEF;
  --clr-font: #E7ECEF;
  --clr-primary: #E7ECEF;
  --clr-card-bg: #A3CEF1;
  --clr-card-txt: #274C77;
  --clr-btn: #274C77;
  --clr-btn-text: #ffffff;
}

/* container */
div.container-fluid {
  color: var(--clr-bcg);
  background-color: var(--clr-bg);
}

/* navbar */
span.heading {
  color: var(--clr-primary);
}

nav {
  background-color: var(--clr-btn);
  color: var(--clr-font);
}

/* search coponent */
.card {
  color: var(--clr-card-txt);
  background-color: var(--clr-card-bg);
  border-radius: 1.25rem;
}

.card .card-body{
  color: var(--clr-card-txt);
  border-radius: 1.25rem;
}

/* tracks */

/* track */
.card .card-title .card-text {
  color: var(--clr-primary);
  background-color: var(--clr-bg);
}

/* buttons */
.btn {
  color: var(--clr-btn-text);
  background-color: var(--clr-btn);
}
